@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

footer {
    background-color: #708090;
    color: #F4EDED;
    display: flex;
    justify-content: center;
    min-height: 48px;
    width: 100%;
}

h3 {
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
}

header {
    background-color: #708090;
    color: #F4EDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.App {
    background-color: #F4EDED;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-button {
    height: 48px;
    text-align: center;
    border-radius: 48px;
    background: #F4EDED;
    border: 2px solid #010001;
    cursor: pointer;
    position: relative !important;
    width: 150px;
    font-weight: bold;
}

.button:hover {
    opacity: 1;
    animation-name: hoverAnimation;
    animation-duration: 250ms;
}

.list-button-container {
    background-color: #708090;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 48px 0;
}

.movie-list-container {
    width: 100%;
}

.movie-list-container h2 {
    background-color: #708090;
    color: #FEA82F;
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding-bottom: 24px;
    width: 100%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    max-width: 1024px;
    padding: 24px 0;
    margin: 0 auto;
}

.movie-card {
    display: flex;
    margin-bottom: 8px;
}

.movie-card > div {
    background-color: #708090;
    color: #F4EDED;
    padding: 8px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.movie-title {
    font-weight: bold;
}


@media only screen and (max-width: 767px) {
    .movie-card {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .movie-card {
        flex-direction: column;
        width: 45%;
    }
}

@media only screen and (min-width: 1024px) {
    .movie-card {
        flex-direction: column;
        width: 24%;
    }
}